/* =============================================
        Common CSS Start
================================================ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --black: #000000;
    --white: #ffffff;
    --white-e: #eeeeee;
    --dark: #0D0D0D;
    --red: red;
    --inter: "Inter", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}
.nav_container{
        max-width: 1270px;
        margin: 0 auto;
}
.container{
        max-width: 1170px;
        margin: 0 auto;
}
a {
        text-decoration: none;
}

ul,ol,li {
        list-style: none;
}
button {
        display: inline-block;
        border: none;
}

body {
        background: var(--dark);
        color: var(--white);
}

.section_header {
        text-align: center;
        max-width: 820px;
        margin: 0 auto;
        padding-bottom: 16px;
}

/*=============================================
        Common CSS End
================================================*/


/* =============================================
        Navbar CSS Start
================================================ */
nav {
    background: var(--black);
    padding: 15px 0;
}

.main_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20ox;
}
.main_menu .logo {}
.main_menu .logo img {}

.main_menu .menu  {}
.main_menu .menu ul  {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
}
.main_menu .menu ul li {}
.main_menu .menu ul li a {
    color: var(--white);
    padding: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
}
.main_menu .menu ul li a:hover {
    color: var(--red);
   
}

.main_menu .buttons {
        display: flex;
        justify-content: end;
        gap: 10px;
}

.main_menu .buttons button {
        background: transparent;
        border: none;
        cursor: pointer;
}
.main_menu .buttons button img {

}
/* =============================================
        Navbar CSS End
================================================ */



/*=============================================
        Banner CSS Start
================================================*/
#banner {
        /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
}

.overlay {
        padding-top: 72px;
        padding-bottom: 246px;
        background: linear-gradient(-270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 39.51%, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0) 100%);
        height: calc(100vh - 134px);
       }
.banner_content {
        width: 652px;
}
.banner_content h1 {
        color: var(--white);
        font-size: 50px;
        font-weight: 900;
        font-size: 66px;
        line-height: 96px;
}
.banner_content h1 span {
        display: block;
}
.banner_content p {
        font-size: 20px;
        line-height: 1.5;color: var(--white);
        padding-top: 10px;
        padding-bottom: 40px;
        padding-right: 115px;
}
.banner_content button {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        border-radius: 1000px;
        text-align: center;
        color: var(--black);
        background: var(--white);
        box-shadow: 0px 4px 14px px rgba(255, 255, 255, 0.15);
        padding: 10px 52px;
        border: none;
}
/*=============================================
        Banner CSS End
================================================*/



/*=============================================
        About CSS Start
================================================*/
#about {
        padding: 150px 0;
}
#about .section_header {
        text-align: center;
        max-width: 820px;
        margin: 0 auto;
        padding-bottom: 40px;
}

.section_header h2 {
        color: var(--white);
        font-size: 50px;
        line-height: 70px;
        font-weight: 700;
}
.section_header p {
         color: var(--white);
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
}

.about_content {
        display: flex;
        align-items: center;
        gap: 87px;
        max-width: 1170px;
        padding-top: 30px;
}
.about_content .text {
        flex: 1;
}
.about_content .text p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: var(--white-e);
}
.about_content p a {
        font-weight: 700;
        color: var(--white);
}
.about_content .video {
        flex: 1;
        max-height: 430px;
        position: relative;
}
.about_content .video > img {
        width: 100%;
}
.about_content .video button {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.about_content .video button img {}

/*=============================================
        About CSS End
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
Common CSS Start
================================================*/





/*=============================================
                XYZ Start
================================================*/
/*=============================================
                XYZ End
================================================*/