/* =============================================
        Common CSS Start
================================================ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --black: #000000;
    --white: #ffffff;
    --white-e: #eeeeee;
    --red: red;
    --inter: "Inter", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}
.nav_container{
        max-width: 1270px;
        margin: 0 auto;
}
.container{
        max-width: 1170px;
        margin: 0 auto;
}
a {
        text-decoration: none;
}

ul,ol,li {
        list-style: none;
}

/*=============================================
        Common CSS End
================================================*/


/* =============================================
        Navbar CSS Start
================================================ */
nav {
    background: var(--black);
    padding: 15px 0;
}

.main_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20ox;
}
.main_menu .logo {}
.main_menu .logo img {}

.main_menu .menu  {}
.main_menu .menu ul  {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
}
.main_menu .menu ul li {}
.main_menu .menu ul li a {
    color: var(--white);
    padding: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
}
.main_menu .menu ul li a:hover {
    color: var(--red);
   
}

.main_menu .buttons {
        display: flex;
        justify-content: end;
        gap: 10px;
}

.main_menu .buttons button {
        background: transparent;
        border: none;
        cursor: pointer;
}
.main_menu .buttons button img {

}
/* =============================================
        Navbar CSS End
================================================ */



/*=============================================
        Banner CSS Start
================================================*/
/*=============================================
        Banner CSS End
================================================*/



/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
        Common CSS Start
================================================*/
/*=============================================
Common CSS Start
================================================*/





/*=============================================
                XYZ Start
================================================*/
/*=============================================
                XYZ End
================================================*/